/* TABLET VIEW */
@media only screen and (max-width:768px) {
    
h2 {
    font-size: 54.4px;
    margin-bottom: 40px;
}
    
h3 {
    font-size: 21px;
}

p {
    font-size: 17px;
}

.star {
    font-size: 40px;
}

/* <!-- Main Navigation -->  */

.hamburger-menu {
    background-color: #92A35B;
    color: #232124;
   
    display: flex;
    justify-content: flex-end;
    padding-top: 35px;
    padding-right: 50px;
    padding-bottom: 100px;
}

#main_nav {
    display: none;
}

/* <!-- Main Header -->  */
/* .header {
    overflow: hidden;
} */

.column-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.column-content {
    font-family: 'Coconat';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
}

.right_mh {
    text-align: right;
    padding-right: 75px;
    padding-top: 50px;
}

.heidi_mh {
    /* display: flex;
    justify-content: center; 
    align-items: center;

    box-sizing: border-box;

    border: 2px solid #232124;
    border-radius: 50%;
    width: 150%; */
    line-height: 170px;
/* 
    position: relative;
    left: -25%; */
}

/* <!-- About Section -->  */
.column-container-about {
    align-items: center;
    gap: 30px;
}

.aimage {
    max-width: 339px;
    max-height: 451px;
}

/* <!-- Skills Section -->  */
#skills {
    font-size: 19px;
    line-height: normal;
}

.technical, .personal {
    font-size: 21.6px;
}

.tskills {
    width: 165px;
    height: 48px;
    margin-bottom: 15px;
    margin-right: 0px;
}

.personal {
    box-sizing: border-box;
    padding: 15px 30px;
    border-radius: 50%;
    border: 2px solid #232124;
    position: relative;
    left: -3.5%;
}

.pskills {
    width: 115px;
    margin-right: 35px;
    margin-bottom: 25px;
}

/* <!-- Gallery Section -->  */
.gallery-column-container {
    gap: 13px;
}

.image {
    width: 305.1px;
    height: 314.1px;
    margin-bottom: 13px;
}

/* <!-- FAQs Section -->  */
.faqs {
    line-height: normal;
}

/* <!-- Contact Section -->  */
#name, #email, #message {
    font-size: 17.1px;
    width: 342px;
}

#message {
    height: 275px;
}

.button-primary {
    font-size: 21px;
    line-height: 45px;
    padding-left: 70px;
    padding-right: 70px;
    margin-top: 35px;
}

/* <!-- Footer -->  */
footer {
    padding: 30px;
}

.footer {
    gap: 200px;
}

.footer_star {
    font-size: 17px;
}
}

/* MOBILE VIEW */
@media only screen and (max-width: 390px) {

.column-container-about {
    flex-direction: column;
}

/* <!-- Skills Section -->  */
.technical_section, .personal_section {
    align-items: flex-start;
}

/* <!-- Gallery Section -->  */
.gallery-column-container {
    flex-direction: column-reverse;
}

/* <!-- FAQs Section -->  */
#faqs_star {
    display: none;
}

.footer {
    /* gap: 50px; */
    font-size: 12.6px;
}

.footer_star {
    font-size: 15px;
}

}