/* CSS GOES HERE */

@font-face {
    font-family: 'ClashDisplay';
    src: url('Fonts/Clash Display/ClashDisplay-Medium.eot') format('eot');
    src: url('Fonts/Clash Display/ClashDisplay-Medium.ttf') format('ttf');
    src: url('Fonts/Clash Display/ClashDisplay-Medium.woff') format('woff');
    src: url('Fonts/Clash Display/ClashDisplay-Medium.woff2') format('woff2');
    font-weight: 500; /* Medium */
}

@font-face {
    font-family: 'ClashDisplay';
    src: url('Fonts/Clash Display/ClashDisplay-Regular.eot') format('eot');
    src: url('Fonts/Clash Display/ClashDisplay-Regular.ttf') format('ttf');
    src: url('Fonts/Clash Display/ClashDisplay-Regular.woff') format('woff');
    src: url('Fonts/Clash Display/ClashDisplay-Regular.woff2') format('woff2');
    font-weight: 400; /* Regular */
}

@font-face {
    font-family: 'Coconat';
    src: url('Fonts/Coconat-Bold.woff2') format('woff2');
    font-weight: 900; /* Bold */
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    background-color: #F4EBDC;
    color: #232124;
}

.body-dark-mode {
    background-color: #232124;
    color: #F4EBDC;
}

section {
    padding: 100px 50px;
}

.container {
    width: 100%;
    max-width: 960px;
    text-align: center;
    margin: 0 auto;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color:#F4EBDC;
}

.a-darkmode:hover {
    text-decoration: underline !important;
    color:#232124 !important;
}

h1 {
    margin: 0;
}

h2 {
    font-family: 'Coconat';
    font-style: normal;
    font-weight: 900;
    font-size: 80px;
    line-height: 100px;
    margin-top: 0px;
    margin-bottom: 70px;
}

h3 {
    font-family: 'ClashDisplay';
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: normal;
    text-align: left;
}

p {
    font-family: 'ClashDisplay';
    font-style: normal;
    font-weight: 400;
    font-size: 22.5px;
    line-height: normal;
    text-align: left;
    margin: 0;
}

.star {
    color: #E86D40;
    font-size: 50px;
}

.star-dark-mode {
    color: #CD4918;
}

.darkmode {
    background-image: url(images/darkmodeswitch.svg);
    width: 69px;
    height: 30px;
    background-repeat: no-repeat;
    display: block;
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 999;
}

.lightmode {
    background-image: url(images/lightmodeswitch.svg);
}

/* <!-- Main Navigation -->  */
nav ul {
    list-style: none;
    display: flex;
    flex-flow: row;
    justify-content: center;
    gap: 38px;
}

.mobile-menu {
    display: none;
}

.mobile-menu-popout {
    display: none;
}

#main-nav {
    background-color: #92A35B;
    font-family: 'ClashDisplay';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    justify-content: center;
    padding-top: 35px;
}

.main-nav-dark-mode {
    background-color: #6C7C49 !important;
}

.home_button {
    box-sizing: border-box;
    width: 107px;
    height: 44px;
    border: 1px solid #232124;
    border-radius: 50%;
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-right: 20vw;
}

.home_button_dark_mode {
    border: 1px solid #F4EBDC; 
}

.home_button:hover {
    color: #F4EBDC;
    text-decoration: underline;
    border: 1px solid #F4EBDC;
}

.home_button_dark_mode:hover {
    color: #232124;
    text-decoration: underline;
    border: 1px solid #232124;
}

/* <!-- Main Header -->  */
.header {
    background-color: #92A35B;
    padding-right: 20%;
    overflow-x: clip;
}

.header-dark-mode {
    background-color: #6C7C49;
}

.column-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.column-content {
    font-family: 'Coconat';
    font-style: normal;
    font-weight: 900;
    font-size: 90px;
}

.hello_mh {
    color: #6C7C49;
    transform: rotate(-89.96deg);
}

.hello_mh_dark_mode {
    color: #92A35B;
}

.right_mh {
    text-align: left;
}

.heidi_mh {
    display: flex;
    justify-content: center; 
    align-items: center;

    box-sizing: border-box;

    border: 2px solid #232124;
    border-radius: 50%;
    width: 150%;
    line-height: 200px;

    position: relative;
    left: -25%;
}

.heidi_mh_dark_mode {
    border: 2px solid #F4EBDC;
}

#mh_star {
    position: absolute;
    transform: rotate(10.657deg);
    left: 39%;
    z-index: 1;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg); 
    }
}

/* <!-- About Section -->  */
.column-container-about {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 50px;
    margin: 0;
}

#about_star {
    position: absolute;
    transform: rotate(-100.442deg);
    z-index: 1;
    left: 46.25%;
}

.aimage {
    box-sizing: border-box;
    border: 2px solid #232124;
    border-radius: 79px;
    max-width: 468px;
    max-height: 623.7px;
    position: relative;
}

.aimage-dark-mode {
    border: 2px solid #F4EBDC;
}

.about_text {
    text-align: left;
}

/* <!-- Skills Section -->  */
#skills {
    font-family: 'ClashDisplay';
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: 37px;
    display: flex;
    align-items: center;
}

#skills_star {
    transform: rotate(-30.398deg);
    position: absolute;
    right: 32%;
}

.technical_section, .personal_section {
    display: flex;
    justify-content: center;
    align-items: center;
    column-count: 2;
    margin-bottom: 52px;
}

.technical, .personal {
    font-family: 'Coconat';
    font-size: 28px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;

    transform: rotate(-90deg);
}

.tskills {
    box-sizing: border-box;

    width: 224px;
    height: 64px;

    border: 2px solid #232124;
    border-radius: 50%;
    
    display: inline-flex;
    justify-content: center; 
    align-items: center;
    margin-right: 15px;
    margin-bottom: 20px;
}

.tskills-dark-mode {
    border: 2px solid #F4EBDC;
}

.personal {
    box-sizing: border-box;
    padding: 15px 30px;
    border-radius: 50%;
    border: 2px solid #232124;
    position: relative;
    left: -2%;
}

.personal-dark-mode {
    border: 2px solid #F4EBDC;
}

.pskills {
    width: 160px;
    display: inline-grid;
    margin-right: 70px;
    margin-bottom: 30px;
}

/* <!-- Gallery Section -->  */
#gallery {
    background-color: #E86D40;
    border: 3px solid #232124;
}

.gallery-dark-mode {
    background-color: #CD4918 !important;
    border: 3px solid #F4EBDC !important;
}

.gallery-column-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 21px;
}

.work1 {
    margin-top: 50px;
}

.image {
    box-sizing: border-box;
    border: 2px solid #232124;
    border-radius: 79px;
    max-width: 468px;
    max-height: 476.1px;
    margin-bottom: 22px;
}

.image-dark-mode {
    border: 2px solid #F4EBDC;
}

#gallery_star {
    color: #F4EBDC;
    margin-bottom: 70px;
    transform: rotate(91.713deg);
}

.gallery-star-dark-mode {
    color: #232124 !important; 
}

/* <!-- FAQs Section -->  */
.faqs {
    box-sizing: border-box;
    border-radius: 79px;
    border: 2px solid #232124;

    margin-bottom: 15px;

    padding: 40px 90px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.faqs-dark-mode {
    border: 2px solid #F4EBDC;
}

/* <!-- Contact Section -->  */

#name, #email, #message {
    font-family: 'ClashDisplay';
    font-size: 21.6px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    border-radius: 20px;
    border: 3px solid #232124;

    padding: 15px;
    margin-bottom: 10px;
    width: 468px;

    background-color: transparent;
}

.nem-darkmode {
    color: #F4EBDC !important;
    border: 3px solid #F4EBDC !important;
}

#name:focus, #email:focus, #message:focus {
    outline: none;
    border: 3px solid #6C7C49;
}

#message {
    height: 318.6px;
}

.button-primary {
    font-family: 'ClashDisplay';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 55px;
    color: #F4EBDC;

    background: #232124;
    border-radius: 100px;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 30px;
}

.button-primary-dark-mode {
    color: #232124;
    background: #F4EBDC;
}

.button-primary:hover {
    background-color: #6C7C49;
}

.button-primary-dark-mode:hover {
    background-color: #92A35B;
}

#contact_star {
    position: absolute;
    transform: rotate(-28.825deg);
    right: 25%;
}

/* <!-- Footer -->  */
footer {
    background-color: #232124;
    padding: 40px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 32%;

    font-family: 'ClashDisplay';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: center;
    color: #F4EBDC;
}

.copyright {
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 5px;
    white-space: nowrap;
}