/* CSS GOES HERE */

@font-face {
    font-family: 'ClashDisplay';
    src: url('Fonts/Clash Display/ClashDisplay-Medium.eot') format('eot');
    src: url('Fonts/Clash Display/ClashDisplay-Medium.ttf') format('ttf');
    src: url('Fonts/Clash Display/ClashDisplay-Medium.woff') format('woff');
    src: url('Fonts/Clash Display/ClashDisplay-Medium.woff2') format('woff2');
    font-weight: 500; /* Medium */
}

@font-face {
    font-family: 'ClashDisplay';
    src: url('Fonts/Clash Display/ClashDisplay-Regular.eot') format('eot');
    src: url('Fonts/Clash Display/ClashDisplay-Regular.ttf') format('ttf');
    src: url('Fonts/Clash Display/ClashDisplay-Regular.woff') format('woff');
    src: url('Fonts/Clash Display/ClashDisplay-Regular.woff2') format('woff2');
    font-weight: 400; /* Regular */
}

@font-face {
    font-family: 'Coconat';
    src: url('Fonts/Coconat-Bold.woff2') format('woff2');
    font-weight: 900; /* Bold */
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    background-color: #F4EBDC;
    color: #232124
}

section {
    padding: 60px 40px;
}

.container {
    width: 100%;
    max-width: 960px;
    text-align: center;
    margin: 0 auto;
}

a {
    color: inherit;
    text-decoration: none;
}

h1 {
    margin: 0;
}

h2 {
    font-family: 'Coconat';
    font-style: normal;
    font-weight: 900;
    font-size: 80px;
    line-height: 138px;
    text-align: center;
}

h3 {
    font-family: 'ClashDisplay';
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: 37px;
    text-align: left;
}

p {
    font-family: 'ClashDisplay';
    font-style: normal;
    font-weight: 400;
    font-size: 22.5px;
    line-height: 31px;
    text-align: left;
}

.star {
    color: #E86D40;
    font-size: 50px;
}

.image {
    box-sizing: border-box;

    border: 2px solid #232124;
    border-radius: 79px;
}

/* <!-- Main Navigation -->  */
nav ul {
    list-style: none;
    display: flex;
    flex-flow: row;
    justify-content: center;
    gap: 38px;
}

.hamburger-menu {
    display: none;
}

#main_nav {
    background-color: #92A35B;
    font-family: 'ClashDisplay';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    justify-content: center;
    padding-top: 35px;
}

.home_button {
    box-sizing: border-box;

    width: 107px;
    height: 44px;
    left: 208px;
    top: 56px;

    border: 1px solid #232124;
    border-radius: 50%;
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-right: 436px;
}

/* <!-- Main Header -->  */
.header {
    background-color: #92A35B;
}

.column-container {
    display: flex;
    justify-content: center;
    align-items: center;
    column-count: 2;
    column-gap: 50px;
  }
  
.column-content {
    font-family: 'Coconat';
    font-style: normal;
    font-weight: 900;
    font-size: 90px;
}

.hello_mh {
    color: #6C7C49;

    transform: rotate(-89.96deg);
}

.right_mh {
   text-align: left;
}

.heidi_mh {
    display: flex;
    justify-content: center; 
    align-items: center;

    box-sizing: border-box;

    width: 822px;
    height: 226px;

    border: 2px solid #232124;
    border-radius: 50%;
}

/* <!-- About Section -->  */
.column-container-about {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    column-count: 2;
    column-gap: 36px;
}

.about_text {
    text-align: left;
}

/* <!-- Skills Section -->  */
#skills {
    font-family: 'ClashDisplay';
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: 37px;
    display: flex;
    align-items: center;
}

.technical {
    font-family: 'Coconat';
    font-size: 35px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.tskills {
    box-sizing: border-box;

    width: 248.74px;
    height: 71px;

    border: 2px solid #232124;
    border-radius: 50%;
    
    display: flex;
    justify-content: center; 
    align-items: center;
}

.personal {
    font-family: 'Coconat';
    font-size: 35px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.pskills {

}

/* <!-- Gallery Section -->  */
#gallery {
    background-color: #E86D40;
    border: 3px solid #232124
}

.gallery-column-container {
    display: flex;
    justify-content: center;
    column-count: 2;
    column-gap: 21px;
}

/* <!-- FAQs Section -->  */

.faqs {
    box-sizing: border-box;
    border-radius: 79px;
    border: 2px solid #232124;

    margin-bottom: 15px;

    padding: 40px 90px;
    
    display: flex;
    flex-direction: row;
}

.faqs_star {
    text-align: right;
}

/* <!-- Contact Section -->  */


/* <!-- Footer -->  */
footer {
    background-color: #232124;
    padding: 10px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 377px;

    font-family: 'ClashDisplay';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    display: flex;
    align-items: center;

    color: #F4EBDC;
}

.copyright {
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 5px;
    white-space: nowrap;
}